@font-face {
  font-family: 'EFourDigitalPro';
  src: url('fonts/Efourpro-OPrP.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'EFourDigitalPro', sans-serif;
  text-align: center;
  background: #000;
  color: #fff;
}


#video-container {
  position: relative;
  display: inline-block;
  margin: 40px 0; /* Márgenes verticales arriba y abajo */
  max-height: calc(100vh - 80px); /* Resta el margen vertical del alto total */
}

#video {
  width: 70%;
  height: auto;
  max-height: 100%;
  object-fit: contain; /* Evita deformaciones del video */
}

#options {
  position: absolute;
  bottom: 5%; /* <- en lugar de top: 50% */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  z-index: 5;
}

.hidden {
  display: none !important;
}

button {
  font-family: 'EFourDigitalPro', sans-serif;
  background-color: transparent;
  color: white;
  min-width: 180px;    
  padding: 10px 20px;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
}

button:hover {
    background-color: darkgray;
}

/* PANTALLAS INICIO Y FINAL */

#pantalla-inicio,
#pantalla-final {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  overflow: hidden;
}

#pantalla-inicio img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  z-index: -1; /* Para que el botón quede por encima */
}
#creditos-img {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  display: none; /* Solo visible cuando activas créditos */
}

#boton-empezar {
  position: absolute;
  bottom: 7%;
  left: 39%;
  padding: 20px 40px;
  font-size: 25px;
  
  font-family: 'EFourDigitalPro', sans-serif;

  background-color: transparent;
  color: #29d02c;

  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#boton-empezar:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #00ffcc;
  border-color: #00ffcc;
}
